*,
::after,
::before {
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}

ul,
ol {
  list-style-type: none;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  max-width: 320px;
  margin: 0 auto;
  padding: 0 16px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 16px;
    padding-right: 16px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}
/* ============================================= */
/* #region header */
.header-page {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-list,
.header-address {
  display: none;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  padding: 24px 0;
  display: block;
}

.header-logo-item {
  color: #2e2f42;
}
.burger-btn {
  border: none;
  padding: 0;
  background-color: transparent;
}
.icon-btn {
  display: block;
  fill: #2f2f37;
}
@media screen and (min-width: 768px) {
  .icon-btn {
    display: none;
  }
  .header-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  .header-address {
    display: block;
    font-style: normal;
    margin-left: auto;
  }

  .nav-page {
    display: flex;
    align-items: center;
  }

  .header-item-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    color: #2e2f42;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-link-element {
    color: #404bbf;
  }

  .header-item-link:hover,
  .header-item-link:focus {
    color: #404bbf;
  }

  .header-link-element::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    border-radius: 2px;
    width: 48px;
    height: 4px;
    background-color: #404bbf;
  }

  .header-address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .header-address-link {
    display: inline-block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-address-link:hover,
  .header-address-link:focus {
    color: #404bbf;
  }
  .logo {
    margin-right: 120px;
  }
}
@media screen and (min-width: 1158px) {
  .logo {
    margin-right: 76px;
  }
  .header-address-list {
    flex-direction: row;
    gap: 40px;
  }
  .header-address-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}
/* #endregion header*/
/* #region-mobile-menu */
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.mobile-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.mobile-menu-close {
  position: absolute;
  top: 24px;
  right: 24px;

  border-radius: 50%;
  width: 24px;
  height: 24px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-close-icon {
  fill: #2e2f42;
}

.mobile-menu-nav {
  margin-bottom: auto;
}
.mobile-nav-list {
  gap: 40px;

  display: flex;
  flex-direction: column;
}
.mobile-nav-item {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.mobile-nav-item:hover,
.mobile-nav-item:focus {
  color: #404bbf;
}
.header-address-list-mobile {
  gap: 24px;
  display: flex;
  flex-direction: column;
  margin-bottom: 48px;
}
.header-address-link-mobile {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
}
.header-address-link-mobile:hover,
.header-address-link-mobile:focus {
  color: #4d5ae5;
}

.team-social-list-mobile {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.team-social-list-item-mobile {
  width: 40px;
  height: 40px;
}

.team-social-link-mobile {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-social-link-mobile:hover,
.team-social-link-mobile:focus {
  background-color: #404bbf;
}

.social-svg-mobile {
  fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
/* #endregion-mobile-menu */
/* #region hero */
.hero {
  background-color: #2e2f42;
  padding: 72px 0;
  width: 100%;
  height: auto;

  margin-left: auto;
  margin-right: auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/mobile-people-office@1x.jpg);

  @media screen and (min-resolution: 2x) {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/mobile-people-office@2x.jpg);
  }
}
.hero-container {
  text-align: center;
}
.hero-title {
  max-width: 216px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #fff;

  margin-bottom: 72px;

  margin-left: auto;
  margin-right: auto;
}
.button-title {
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;

  border-radius: 4px;
  padding: 16px 32px;

  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .hero {
    padding-top: 112px;
    padding-bottom: 112px;

    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/tablet-people-office@1x.jpg);

    @media screen and (min-resolution: 2x) {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero/tablet-people-office@2x.jpg);
    }
  }

  .hero-title {
    min-width: 496px;
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 36px;
  }
  .button-title {
    margin-bottom: 112px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .button-title:hover,
  .button-title:focus {
    background: #404bbf;
  }
}
@media screen and (min-width: 1158px) {
  .hero {
    padding-top: 120px;
    padding-bottom: 120px;
    padding: 188px 0;
    max-width: 1440px;

    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/desktop-people-office@1x.jpg);

    @media screen and (min-resolution: 2x) {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero/desktop-people-office@2x.jpg);
    }
  }
  .hero-title {
    max-width: 496px;
    margin-bottom: 48px;
  }
  .button-title {
    margin-bottom: 0;
  }
}
/* #endregion hero*/
/*  #region advantage */
.advantage {
  padding-top: 43px;
  padding-bottom: 149px;
}
.advantage-icon {
  display: none;
}
.advantage-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.advantage-list-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;

  display: flex;
  justify-content: center;

  margin-bottom: 8px;
}
.advantage-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
@media screen and (min-width: 768px) {
  .advantage {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .advantage-list {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }
  .advantage-list-title {
    justify-content: flex-start;
  }
  .advantage-item {
    width: calc((100% - 24px) / 2);
  }
}
@media screen and (min-width: 1158px) {
  .advantage {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .advantage-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
  }
  .advantage-list {
    gap: 24px;
  }
  .advantage-item {
    width: calc((100% - 72px) / 4);
  }
  .advantage-list-title {
    font-weight: 500;
    font-size: 20px;
  }
  .advantage-text {
    font-weight: 400;
  }
}
/*  #endregion advantage */
/* #region team */
.team-section {
  background-color: #f4f4fd;
  padding-top: 96px;
  padding-bottom: 96px;
}
.team-title {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}
.team-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}
.team-item {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.team-mobile-img {
  display: block;
  width: 100%;
}
.team-info-cont {
  padding: 32px 0;
}
.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}
.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;

  margin-bottom: 8px;
}
.team-social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-social-list-item {
  width: 40px;
  height: 40px;
}
.team-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-svg {
  fill: #f4f4fd;
}
@media screen and (min-width: 768px) {
  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    row-gap: 64px;
    column-gap: 24px;
  }
  .team-item {
    width: calc((100% - 24px) / 2);
    max-width: 264px;
  }
  .team-social-link:hover,
  .team-social-link:focus {
    background-color: #404bbf;
  }
}
@media screen and (min-width: 1158px) {
  .team-section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .team-list {
    flex-wrap: nowrap;
    column-gap: 24px;
  }
  .team-item {
    width: calc((100% - 24px) / 4);
  }
}
/* #endregion team */
/* #region portfolio */
.overlay-text {
  display: none;
}
.portfolio {
  padding-top: 96px;
  padding-bottom: 96px;
}
.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;

  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.portfolio-list-item-cont {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
}
.portfolio-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;

  margin-bottom: 8px;
}
.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
@media screen and (min-width: 768px) {
  .portfolio-list {
    flex-wrap: wrap;
    flex-direction: row;
    row-gap: 72px;
    column-gap: 24px;
  }
  .portfolio-list-item {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .portfolio-list {
    row-gap: 48px;
    column-gap: 24px;
  }
  .portfolio-list-item {
    width: calc((100% - 48px) / 3);
  }
  .portfolio-list-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }
  .portfolio-list-item:hover .overlay-text,
  .portfolio-list-item:focus .overlay-text {
    transform: translateY(0);
  }
  .overlay-text {
    display: block;
    position: absolute;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    top: 0;

    padding: 40px 32px;
    background-color: #4d5ae5;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .port-img {
    position: relative;
    overflow: hidden;
  }
}
/* #endregion portfolio */
/* #region footer */
.footer {
  background-color: #2e2f42;
  padding-top: 96px;
  padding-bottom: 96px;
  width: 100%;
}
.footer-container {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}

.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: block;
  margin-bottom: 16px;
  text-align: center;
}
.footer-logo-item {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}
.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;

  max-width: 264px;
  margin-bottom: 72px;
}
.footer-social-list {
  display: flex;
  gap: 16px;
}
.footer-social-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;

  margin-bottom: 16px;
}
.footer-social-icons {
  display: flex;
}
.footer-sub-text {
  text-align: center;
  margin-bottom: 16px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
}
.btn-footer {
  display: flex;
  justify-content: center;
  align-items: center;

  background: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  font-family: 'Roboto', sans-serif;

  border-radius: 4px;
  border: none;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  margin: 0 auto;
}
.subscr-icons-footer {
  fill: #ffffff;
  margin-left: 16px;
}
.input-footer {
  margin-bottom: 16px;
  border: 1px solid #ffffff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  background-color: transparent;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;

  padding: 8px 16px;

  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}
.input-footer::placeholder {
  color: #ffffff;
}
.subscribe-foot-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-social-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .footer-container {
    align-items: flex-start;
    row-gap: 72px;
    column-gap: 24px;
  }
  .footer-top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    column-gap: 24px;
  }
  .footer-social-container {
    align-items: flex-start;
  }
  .footer-logo {
    text-align: start;
  }
  .footer-logo-container {
    margin-right: 0;
    width: 264px;
  }
  .subscribe-foot-form {
    flex-direction: row;
    align-items: flex-start;
    gap: 24px;
  }
  .footer-text {
    margin-bottom: 0;
  }
  .footer-sub-text {
    text-align: start;
  }
}
@media screen and (min-width: 1158px) {
  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .footer-top {
    gap: 0;
  }
  .footer-container {
    align-items: baseline;
    flex-wrap: nowrap;
    margin: 0 auto;
    gap: 0;
  }
  .footer-logo-container {
    margin-right: 120px;
  }
  .footer-social-container {
    margin-right: 80px;
  }
  .footer-social-link {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .footer-social-link:hover,
  .footer-social-link:focus {
    background-color: #31d0aa;
  }
}
/* #endregion footer */
/* #region modal */
.backdrop {
  position: fixed;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-open {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: #fcfcfc;
  border-radius: 4px;
  width: 288px;
  min-height: 584px;

  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  padding: 72px 16px 16px 24px;
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;

  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-svg {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}
.checkbox {
  margin-bottom: 24px;
}
.form-wrapper-cont {
  margin-bottom: 8px;
}
.form-labels {
  display: block;
  margin-bottom: 4px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.form-user-input {
  width: 100%;
  height: 40px;
  padding-left: 38px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: transparent;
  outline: transparent;
}
.form-user-input:focus {
  border: 1px solid #4d5ae5;
}

.form-user-input:focus + .form-user-icon {
  fill: #4d5ae5;
}

.form-user-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-user-icon-wrapper {
  position: relative;
}

.form-user-coment {
  width: 100%;
  resize: none;
  min-height: 120px;
  border-radius: 4px;
  outline: none;

  padding: 8px 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-user-coment:focus {
  border: 1px solid #4d5ae5;
}

.castom-checkbox {
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: transparent;
}
.checkbox:checked + .form-user-checkbox .castom-checkbox {
  border-radius: 2px;
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
.castom-checkbox-link {
  text-decoration: underline;
  color: #4d5ae5;
}
.form-user-checkbox {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.castom-checkbox-item {
  fill: transparent;
}
.btn-send {
  display: block;
  margin: 0 auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;

  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  border: none;

  background-color: #4d5ae5;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-wrapper-cont-comment {
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .modal {
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
  }
}
@media screen and (min-width: 1158px) {
  .modal-close-btn:hover,
  .modal-close-btn:focus {
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
  }
}
/* #endregion modal */
